<form action="/cart/add-product" method="POST">
    <input name="idProduct" class="hidden" value="{{ id }}" />
    <input name="quantity" class="hidden" value="1" />
    <button type="submit"
        class="bg-blue-500 duration-200 focus:outline-none focus:shadow-outline rounded-full h-12 hover:bg-blue-800 inline-flex items-center justify-center px-6 text-white tracking-wide transition w-full">
        Add to Cart
    </button>
</form>