<header class="bg-white dark:bg-gray-800">

    <div class="container mx-auto px-6 py-16">
        <div class="md:flex items-center">
            <div class="w-full md:w-1/2">
                <div class="max-w-lg">
                    <h1 class="text-gray-800 dark:text-white text-2xl font-semibold uppercase md:text-3xl">
                        Best Place To Shop
                    </h1>
                    <p class="mt-2 text-gray-600 dark:text-gray-400">This is a demo project created with very much
                        enthusiast.
                    </p>
                    <br />
                    <a href="/products"
                        class="bg-blue-500 duration-200 focus:outline-none focus:shadow-outline rounded-full h-12 hover:bg-blue-800 inline-flex items-center justify-center px-6 text-white tracking-wide transition">
                        Shop Now
                    </a>
                </div>
            </div>

            <div class="flex items-center justify-center w-full mt-6 md:mt-0 md:w-1/2">
                <img class="max-w-2xl w-full h-full" src="/images/intro.svg" alt="">
            </div>
        </div>
    </div>
</header>